<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="html_head">
<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
	<div th:fragment="menu">
	<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo1.png}"  src="../static/images/logo1.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/retourAcueilprincipal}" href="#">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/departements}" href="#">Liste Départements</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/departements/new}" href="#">Création Département</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/employes}" href="#">Liste Employés</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/employes/new}" href="#">Création Employés</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>
	

</div>

	<div th:fragment="corps" class="container text-center">
		<div><h1> Bienvenue dans la page de Gestion RH, les Fonctionalités proposées accessible depuis le menu:</h1></div>
		<div class="p-2">
			<a class="h2" th:href="@{/departements}">-Liste departements</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/departements/new}">-Creer un Departement</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/employes}">-Liste des Employes</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/employes/new}">-Creer Un Employe</a>
		</div>
	</div>

	<div th:fragment="footer" class="text-center">
		<p> Gestion Mini RH Control Panel - Copyright &copy; Ressources Humaines</p>
	</div>
</body>
</html>